---
layout: archive
title: "Publications & Talks"
permalink: /publications-talks/
author_profile: true
redirect_from:
  - /publications/
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

This page collects public papers and presentations. I use it as the credibility backbone of the site: public work first, confidential work details out.

{% if site.talks.size > 0 %}
  <h2>Talks and presentations</h2><hr />
  {% for post in site.talks reversed %}
    {% include archive-single-talk.html %}
  {% endfor %}
{% endif %}

<h2>Publications</h2><hr />

{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h3>{{ category[1].title }}</h3>
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html show_details=false %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html show_details=false %}
  {% endfor %}
{% endif %}
